nav{
    background-color: rgb(24, 23, 23);
    display:flex;
    padding: 10px 10px 10px 10px;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    height: 50px;
}
