.youtube{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
}

@media (min-width: 640px) {
  iframe {
    width: 400px;
    height: 225px;
    
  }
}

/* Desktop / Large screen (example: min-width 1024px) */
@media (min-width: 1024px) {
  iframe {
    width: 560px;
    height: 315px;
  }
}


.image-fade {
  opacity: 1;
  object-fit: cover;
  width: 100%;
  height: auto;
  display: block;

  /* ให้ภาพจางด้านล่าง */
  -webkit-mask-image: linear-gradient(to bottom, black -50%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}


div.golang{
  margin-top:10rem
}

.menu-container {
  justify-content: center;
  padding: 4rem;
  display: flex;
}

.card {
  border-radius: 1.5rem;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  cursor: pointer;
  display: block;
  position: relative;
  /* opacity: 35%; */
  
  transform: rotate(-0deg) skewY(-4deg);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #1b1b1b
}

.card:hover {
  opacity: 100%;
  transform: rotate(-0deg) skewY(-4deg) scale(1.06) translateY(-0.6rem);
  box-shadow: 0 0 35px rgba(255, 255, 255, 0.35);
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 1rem;
  text-shadow: 0 0 35px rgb(255, 0, 0);
  z-index: 80;
}

