@import "tailwindcss";


*{
  box-sizing: border-box;
  color:white
  
}



.div-layout{
  padding-top: 5rem;
  padding-bottom: 10rem;
  position:"relative";
  background-color:rgb(14, 13, 13);
  width:100%;
  min-height: 100vh;
  height:auto
}

button{
  padding: 5 5 5 5;
  border-radius: 5px;
  /* background-color: rgb(8, 46, 33); */
  background-color: black;
}

button:hover{
    background-color: rgb(161, 66, 66);
}

button:disabled{
  background-color: grey;
}




